.songholder{
    display: flex;
    margin: 0.1rem;
    background-color: rgba(88, 88, 88, 0.404);
}

.songholder:hover{
    background-color: rgba(88, 88, 88, 0);
}

.songholder .song-filler{
    flex-grow: 1;
}
.songholder p,.songholder label{
    margin: 1rem;
}