.flex-container{
    display: flex;
}

.flex-filler{
    flex-grow: 1;
}

#content .linewrapper > p{
    margin: 0;
}

#content #rendering-target{
    background-image: url("../img/render.png");
    background-repeat: repeat-y;
    background-size: 21cm 31.35cm;
}

#content h1{
    text-decoration: underline;
    color: #18df18;
    text-shadow: 0.25mm 0.25mm black;
}

#content #rendering-target .lyric_block .line {
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display:table;                      /* Actually FF 20+ */
}
#content .chord {
    color: #44f;
    font-weight: bold;
    display: block;
    width: fit-content;
}

#content .chordLyricsWrapper{
    display: inline-block;
    width: fit-content;
}

#content p{
    margin-top: 0rem;
}

@media print {
    #content #rendering-target {
        padding: 0;
        border: none;
    }
    #content{
        width: 21cm;
        height: 29.7cm;
        top: 0;
        /*margin: 30mm 45mm 30mm 45mm;*/
    }
    #content .songholder{
        page-break-after: always;
    }
    #toolbar{
        display: none;
    }
}
@media screen {
    html{
        background-color: #2a2a2e;
        display: flex;
        justify-content: center;
    }
    body{
        width: 100%;
        margin: 0rem;
    }
    #content {
        background-color: white;
        width: 21cm;
        min-height: 29.7cm;
        height: auto;
        background-position-x: 30mm;
        padding: 30mm 45mm 30mm 45mm;
    }
    #toolbar{
        position: sticky;
        top: 0rem;
        display: flex;
        padding: 1rem;
        background-color: rgb(219, 219, 219);
    }

    #toolbar .icon{
        cursor: pointer;
    }
    #toolbar .active{
        background-color: rgb(91, 91, 91);
        color: white;
    }
    #toolbar .icon:hover{
        background-color: rgb(174, 174, 174);
        color: white;
    }

    #toolbar .icon img{
        height: 4rem;
    }
    #toolbar .icon .descr{
        text-align: center;
    }

    #toolbar .icon .key{
        text-align: center;
        font-size: x-small;
    }

    #toolbar input[type="file"] {
        height: 0rem;
        width: 0rem;
    }
    #toolbar label{
        display: inline-block;
    }
    #content .chord{
        min-width: 30px;
    }
}

@media screen and (max-width: 21cm) {
    #content{
        padding: 1rem;
        width: auto;
    }
}

#content .verse, #content .chorus{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

#content .verseName, #content .chorusName{
    margin-right: 0.5rem;
}

#content .wordWrapper{
    display: inline-block;
    white-space: nowrap;
}

#content .titlepageholder{
    height: 29.7cm;
    page-break-after: always;
}

#content .titlepageholder h2{
    font-size: 5rem;
}

#content .titlepageholder h1{
    font-size: 10rem;
}